<div class="body">
  <div id="overlay">
    <div id="int-form">
      <form>
        <div class="login">
                  <h1 class="head-title">Login</h1>
                  <div class="inputsLogin">
            <mat-form-field appearance="">
                          <mat-label>Username</mat-label>
                          <input matInput>
                        </mat-form-field>
                        <mat-form-field appearance="">
                          <mat-label>Password</mat-label>
                          <input id="passwordInput" matInput type="password">
                        </mat-form-field>
                  </div>
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>