// .addPet{
//     margin-bottom: 5rem;
// }
// .myPets{
//     margin-top: 5rem;
// }
.container-content{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
span{
    font-size: 1.5rem;
}

table.mat-table{
    width: 100%;
}